In [1]:
#Importing Packages
import numpy as np
import pandas as pd
import os

In [2]:
#reading the dataset
data = pd.read_excel(r'E:\phd_course\IWM\filtered\figure1\fig_fin\5mins figure1_new.xlsx')

In [3]:
data

,date,time,H,LE,Rn,G,Rn-G,H+LE,EBR
0,2019-05-25,00:00:00,-41.536000,8.291620,-53.97,33.61,-87.58,-33.244380,0.379589
1,2019-05-25,00:10:00,-28.507600,2.031690,-56.47,-10.00,-46.47,-26.475910,0.569742
2,2019-05-25,00:20:00,-14.012300,2.767830,-54.21,-27.76,-26.45,-11.244470,0.425122
3,2019-05-25,00:30:00,-0.339586,0.451644,-48.97,-76.71,27.74,0.112058,0.004040
4,2019-05-25,00:40:00,0.221964,0.431439,-42.78,-119.73,76.95,0.653403,0.008491
...,...,...,...,...,...,...,...,...,...
10780,2019-09-06,23:00:00,-35.369500,45.546700,-13.77,-44.81,31.04,10.177200,0.327874
10781,2019-09-06,23:10:00,-25.737700,50.873600,-13.56,-14.88,1.32,25.135900,19.042348
10782,2019-09-06,23:20:00,-28.721600,36.336100,-14.40,-35.64,21.24,7.614500,0.358498
10783,2019-09-06,23:30:00,-28.016100,32.232100,-15.67,-5.43,-10.24,4.216000,-0.411719
10784,2019-09-06,23:40:00,-22.280000,25.584000,-22.70,-38.08,15.38,3.304000,0.214824

In [7]:
#daily averaging 
k1 = data.groupby(['Month','Day']).mean()

In [8]:
#changing the directory
os.chdir(r'E:\phd_course\IWM\filtered\figure1\fig_fin')

In [9]:
#Saving to excel file
k1.to_excel('120min_fin.xlsx')

In [18]:
#reading the dataset
data1 = pd.read_excel(r'E:\phd_course\IWM\filtered\figure1\120min figure1s.xlsx')

In [19]:
data1

,date,time,H,LE,Rn,G,Rn-G,H+LE,EBR,Modelled,Residual,squared,RMSE
0,2019-05-25,00:00:00,-12.11040,3.73828,-48.3475,20.6008,-68.9483,-8.37212,0.121426,-25.560258,17.188138,295.432074,34.948821
1,2019-05-25,02:00:00,-18.25110,9.78878,-42.7600,-37.8917,-4.8683,-8.46232,1.738249,17.501502,-25.963822,674.120074,NaN
2,2019-05-25,04:00:00,7.34610,6.55370,-37.0708,16.3883,-53.4591,13.89980,-0.260008,-15.151515,29.051315,843.978915,NaN
3,2019-05-25,06:00:00,-9.35791,15.49200,-45.1450,-40.4025,-4.7425,6.13409,-1.293430,17.586040,-11.451950,131.147159,NaN
4,2019-05-25,08:00:00,40.96660,5.07451,87.6875,36.5525,51.1350,46.04111,0.900383,55.135720,-9.094610,82.711931,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
806,2019-08-22,05:00:00,-6.55775,17.20420,-75.1633,-8.9550,-66.2083,10.64645,-0.160802,-23.718978,34.365428,1180.982614,NaN
807,2019-08-22,07:00:00,-11.44290,22.86900,-78.4492,-12.7258,-65.7234,11.42610,-0.173851,-23.393125,34.819225,1212.378416,NaN
808,2019-08-22,09:00:00,28.87370,92.14310,-43.2392,-18.0850,-25.1542,121.01680,-4.810998,3.869378,117.147422,13723.518575,NaN
809,2019-08-22,11:00:00,81.18730,189.53600,196.0930,-16.4000,212.4930,270.72330,1.274034,163.568296,107.155004,11482.194882,NaN
810,2019-08-22,13:00:00,128.21300,258.31100,465.8530,-7.2350,473.0880,386.52400,0.817023,338.688136,47.835864,2288.269885,NaN

In [5]:
#changing the directory
os.chdir(r'E:\phd_course\IWM\filtered\figure1\fig_fin')

In [6]:
#time averaging
k1 = data.groupby(['time']).mean()

In [7]:
#saving the averaged file
k1.to_excel('5min_avg_time_new.xlsx')